.inputContainer {
  display: flex;
}
input {
  text-align: center;
  height: 35px;
  color: black;
  background-color: #ebb840;
  border: none;
  border-top-left-radius: 10px;
  font-weight: bold;
  border-bottom-left-radius: 10px;
}

.dropdownicon {
  cursor: pointer;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 24px !important;
}

.option {
  background-color: #f8df8c;
  border-radius: 10px;
  text-align: initial;
  padding: 10px;
  overflow-y: scroll;
  height: 0vh;
  opacity: 0;
  position: absolute;
  width: 162px;
}

.animate-option {
  animation-name: optionAnimate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.deanimate-option {
  animation-name: optiondeAnimate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes optiondeAnimate {
  0% {
    height: 30vh;
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    height: 0vh;
    opacity: 0;
  }
}

@keyframes optionAnimate {
  0% {
    height: 0vh;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 30vh;
    opacity: 1;
  }
}

.option div {
  margin: 5px;
  cursor: pointer;
}
